In [ ]:
pip install sqlalchemy psycopg2 censusdata pandas

In [3]:
import pandas as pd
import censusdata
import psycopg2
from sqlalchemy import create_engine

engine = create_engine('postgresql://naya:urigoren@104.155.40.113:5432/nrich')

In [4]:
bedrooms= censusdata.download('acs5', 2015, censusdata.censusgeo([('state','*')]),
                    ['B25041_002E','B25041_003E','B25041_004E','B25041_005E','B25041_006E','B25041_007E','B25041_001E'])

bedrooms.columns=['No_bedroom', '1_bedroom','2_bedrooms','3_bedrooms','4_bedrooms','5_or_more_bedrooms','Total']
bedrooms.describe()

,No_bedroom,1_bedroom,2_bedrooms,3_bedrooms,4_bedrooms,5_or_more_bedrooms,Total
count,52.000000,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,52.000000,5.200000e+01
mean,58378.423077,2.861664e+05,6.880085e+05,1.033636e+06,4.188692e+05,109604.980769,2.594663e+06
std,87688.726213,3.825052e+05,7.571617e+05,1.012265e+06,4.407307e+05,110285.851133,2.726434e+06
min,4288.000000,2.412900e+04,6.770100e+04,6.323000e+04,2.506800e+04,11029.000000,2.666300e+05
25%,18794.000000,7.528325e+04,2.112130e+05,2.955282e+05,1.216245e+05,30039.500000,7.889150e+05
50%,30824.000000,1.567195e+05,4.871685e+05,8.170800e+05,2.679265e+05,70394.500000,1.819839e+06
75%,56891.250000,2.946988e+05,7.910745e+05,1.183800e+06,5.029700e+05,162697.500000,2.903530e+06
max,508802.000000,1.938660e+06,3.870870e+06,4.626151e+06,2.307505e+06,593802.000000,1.384579e+07

In [5]:
bedrooms= censusdata.download('acs5', 2015, censusdata.censusgeo([('state','*')]),
                    ['B25041_002E','B25041_003E','B25041_004E','B25041_005E','B25041_006E','B25041_007E','B25041_001E'])

bedrooms.columns=['No_bedroom', '1_bedroom','2_bedrooms','3_bedrooms','4_bedrooms','5_or_more_bedrooms','Total']
bedrooms

,No_bedroom,1_bedroom,2_bedrooms,3_bedrooms,4_bedrooms,5_or_more_bedrooms,Total
"Alabama: Summary level: 040, state:01",26431,134181,525987,1098387,340998,73345,2199329
"Alaska: Summary level: 040, state:02",19164,43742,82282,106743,45301,11029,308261
"Arizona: Summary level: 040, state:04",72487,331246,789109,1078244,499591,119987,2890664
"Arkansas: Summary level: 040, state:05",23141,96586,364170,666180,158484,26455,1335016
"California: Summary level: 040, state:06",508802,1938660,3870870,4626151,2307505,593802,13845790
"Colorado: Summary level: 040, state:08",47608,260038,580462,764503,436333,172119,2261063
"Connecticut: Summary level: 040, state:09",31732,183370,405883,547408,255820,67573,1491786
"Delaware: Summary level: 040, state:10",4288,29920,86241,185391,91155,17421,414416
"District of Columbia: Summary level: 040, state:11",25310,94598,83458,63230,25068,11648,303312
"Florida: Summary level: 040, state:12",171515,954017,3067962,3494184,1182814,224507,9094999
"Georgia: Summary level: 040, state:13",55172,301838,954114,1809184,750983,261774,4133065
"Hawaii: Summary level: 040, state:15",26408,72307,138975,186213,72536,30949,527388
"Idaho: Summary level: 040, state:16",11903,48972,163177,277790,123724,54736,680302
"Illinois: Summary level: 040, state:17",139397,614135,1532081,1946263,853239,218560,5303675
"Indiana: Summary level: 040, state:18",40305,262084,747355,1235822,435608,99079,2820253
"Iowa: Summary level: 040, state:19",19104,126883,382955,523674,235696,65952,1354264
"Kansas: Summary level: 040, state:20",25393,119160,328150,467121,232029,72519,1244372
"Kentucky: Summary level: 040, state:21",27340,164160,530368,874324,280033,68270,1944495
"Louisiana: Summary level: 040, state:22",29631,177564,499502,966885,282974,43299,1999855
"Maine: Summary level: 040, state:23",20267,87292,221963,274177,95585,26943,726227
"Maryland: Summary level: 040, state:24",33685,248203,536614,904135,513107,174512,2410256
"Massachusetts: Summary level: 040, state:25",74982,393983,796971,983065,453401,125418,2827820
"Michigan: Summary level: 040, state:26",64167,413312,1186736,1994289,723617,157717,4539838
"Minnesota: Summary level: 040, state:27",45014,275303,626982,805495,477425,143665,2373884
"Mississippi: Summary level: 040, state:28",17864,76252,286392,691252,186805,31139,1289704
"Missouri: Summary level: 040, state:29",42772,259929,754185,1147930,417347,107699,2729862
"Montana: Summary level: 040, state:30",14215,50929,135038,177708,79298,31657,488845
"Nebraska: Summary level: 040, state:31",13377,90873,213645,301441,144599,45876,809811
"Nevada: Summary level: 040, state:32",35689,129153,313999,455518,204536,53188,1192083
"New Hampshire: Summary level: 040, state:33",11915,66365,189069,237290,93092,21219,618950
"New Jersey: Summary level: 040, state:34",96337,505517,933404,1166459,679757,196468,3577942
"New Mexico: Summary level: 040, state:35",25769,83118,231606,423201,125361,20510,909565
"New York: Summary level: 040, state:36",367484,1598437,2186723,2579995,1086047,353039,8171725
"North Carolina: Summary level: 040, state:37",62049,292319,1160720,2090591,649890,161641,4417210
"North Dakota: Summary level: 040, state:38",6167,34209,100779,111931,63574,24402,341062
"Ohio: Summary level: 040, state:39",72580,486450,1358494,2177926,879585,165867,5140902
"Oklahoma: Summary level: 040, state:40",28914,149279,422542,828665,225913,34114,1689427
"Oregon: Summary level: 040, state:41",44793,170325,474835,713102,234394,57734,1695183
"Pennsylvania: Summary level: 040, state:42",108266,582759,1291382,2411035,955611,236558,5585611
"Rhode Island: Summary level: 040, state:44",10969,65005,137834,178726,55595,14771,462900
"South Carolina: Summary level: 040, state:45",30049,121379,553436,1065521,329977,73957,2174319
"South Dakota: Summary level: 040, state:46",5918,35522,103439,128290,71848,27311,372328
"Tennessee: Summary level: 040, state:47",35711,219973,755932,1328647,414879,99400,2854542
"Texas: Summary level: 040, state:48",202485,1304339,2384175,4278302,1790752,345554,10305607
"Utah: Summary level: 040, state:49",14519,72377,203917,305831,220005,194450,1011099
"Vermont: Summary level: 040, state:50",9797,36413,87092,126980,49639,15253,325174
"Virginia: Summary level: 040, state:51",51112,285253,813079,1361884,694129,217834,3423291
"Washington: Summary level: 040, state:53",83050,347100,768566,1111399,494941,137071,2942127
"West Virginia: Summary level: 040, state:54",16110,63844,251733,410508,115326,26463,883984
"Wisconsin: Summary level: 040, state:55",48131,260154,760323,1087772,392125,93122,2641627
"Wyoming: Summary level: 040, state:56",4791,24129,67701,104278,47155,18576,266630
"Puerto Rico: Summary level: 040, state:72",31599,97697,334036,868008,205990,33307,1570637

In [6]:
print(bedrooms.index.values)
print(type(bedrooms.index.values))

[censusgeo((('state', '01'),), 'Alabama')
 censusgeo((('state', '02'),), 'Alaska')
 censusgeo((('state', '04'),), 'Arizona')
 censusgeo((('state', '05'),), 'Arkansas')
 censusgeo((('state', '06'),), 'California')
 censusgeo((('state', '08'),), 'Colorado')
 censusgeo((('state', '09'),), 'Connecticut')
 censusgeo((('state', '10'),), 'Delaware')
 censusgeo((('state', '11'),), 'District of Columbia')
 censusgeo((('state', '12'),), 'Florida')
 censusgeo((('state', '13'),), 'Georgia')
 censusgeo((('state', '15'),), 'Hawaii')
 censusgeo((('state', '16'),), 'Idaho')
 censusgeo((('state', '17'),), 'Illinois')
 censusgeo((('state', '18'),), 'Indiana')
 censusgeo((('state', '19'),), 'Iowa')
 censusgeo((('state', '20'),), 'Kansas')
 censusgeo((('state', '21'),), 'Kentucky')
 censusgeo((('state', '22'),), 'Louisiana')
 censusgeo((('state', '23'),), 'Maine')
 censusgeo((('state', '24'),), 'Maryland')
 censusgeo((('state', '25'),), 'Massachusetts')
 censusgeo((('state', '26'),), 'Michigan')
 censusgeo((('state', '27'),), 'Minnesota')
 censusgeo((('state', '28'),), 'Mississippi')
 censusgeo((('state', '29'),), 'Missouri')
 censusgeo((('state', '30'),), 'Montana')
 censusgeo((('state', '31'),), 'Nebraska')
 censusgeo((('state', '32'),), 'Nevada')
 censusgeo((('state', '33'),), 'New Hampshire')
 censusgeo((('state', '34'),), 'New Jersey')
 censusgeo((('state', '35'),), 'New Mexico')
 censusgeo((('state', '36'),), 'New York')
 censusgeo((('state', '37'),), 'North Carolina')
 censusgeo((('state', '38'),), 'North Dakota')
 censusgeo((('state', '39'),), 'Ohio')
 censusgeo((('state', '40'),), 'Oklahoma')
 censusgeo((('state', '41'),), 'Oregon')
 censusgeo((('state', '42'),), 'Pennsylvania')
 censusgeo((('state', '44'),), 'Rhode Island')
 censusgeo((('state', '45'),), 'South Carolina')
 censusgeo((('state', '46'),), 'South Dakota')
 censusgeo((('state', '47'),), 'Tennessee')
 censusgeo((('state', '48'),), 'Texas')
 censusgeo((('state', '49'),), 'Utah')
 censusgeo((('state', '50'),), 'Vermont')
 censusgeo((('state', '51'),), 'Virginia')
 censusgeo((('state', '53'),), 'Washington')
 censusgeo((('state', '54'),), 'West Virginia')
 censusgeo((('state', '55'),), 'Wisconsin')
 censusgeo((('state', '56'),), 'Wyoming')
 censusgeo((('state', '72'),), 'Puerto Rico')]
<class 'numpy.ndarray'>

In [7]:
list_statecode = [str(k).split(',')[1][7:9] for k in bedrooms.index.values]
list_names = [str(k).split(',')[0].split(':')[0] for k in bedrooms.index.values]
milon=dict(zip(list_statecode,list_names))
milon

{'01': 'Alabama',
 '02': 'Alaska',
 '04': 'Arizona',
 '05': 'Arkansas',
 '06': 'California',
 '08': 'Colorado',
 '09': 'Connecticut',
 '10': 'Delaware',
 '11': 'District of Columbia',
 '12': 'Florida',
 '13': 'Georgia',
 '15': 'Hawaii',
 '16': 'Idaho',
 '17': 'Illinois',
 '18': 'Indiana',
 '19': 'Iowa',
 '20': 'Kansas',
 '21': 'Kentucky',
 '22': 'Louisiana',
 '23': 'Maine',
 '24': 'Maryland',
 '25': 'Massachusetts',
 '26': 'Michigan',
 '27': 'Minnesota',
 '28': 'Mississippi',
 '29': 'Missouri',
 '30': 'Montana',
 '31': 'Nebraska',
 '32': 'Nevada',
 '33': 'New Hampshire',
 '34': 'New Jersey',
 '35': 'New Mexico',
 '36': 'New York',
 '37': 'North Carolina',
 '38': 'North Dakota',
 '39': 'Ohio',
 '40': 'Oklahoma',
 '41': 'Oregon',
 '42': 'Pennsylvania',
 '44': 'Rhode Island',
 '45': 'South Carolina',
 '46': 'South Dakota',
 '47': 'Tennessee',
 '48': 'Texas',
 '49': 'Utah',
 '50': 'Vermont',
 '51': 'Virginia',
 '53': 'Washington',
 '54': 'West Virginia',
 '55': 'Wisconsin',
 '56': 'Wyoming',
 '72': 'Puerto Rico'}

In [15]:
#    


num_state=input("please enter your number State ")
search=None
if num_state  not in milon:
    
    print('Sorry, you need select number State from the list')

else:
    search= censusdata.download('acs5', 2015, censusdata.censusgeo([('state',num_state)]),
                    ['B25041_002E','B25041_003E','B25041_004E','B25041_005E','B25041_006E','B25041_007E','B25041_001E'])

    search.columns=['No_bedroom', '1_bedroom','2_bedrooms','3_bedrooms','4_bedrooms','5_or_more_bedrooms','Total']
search

please enter your number State 11

,No_bedroom,1_bedroom,2_bedrooms,3_bedrooms,4_bedrooms,5_or_more_bedrooms,Total
"District of Columbia: Summary level: 040, state:11",25310,94598,83458,63230,25068,11648,303312

In [16]:
#    

search.values
a=search.values[0][0:5].argmax()
b=search.columns[a]

print (f'The maximum category is {b} with value of {milon[num_state]}')

The maximum category is 1_bedroom with value of District of Columbia

In [17]:
search.values[0][0:5].argmax()

1

In [107]:
bedrooms.to_sql("im_bedrooms_by_state", engine ,if_exists='replace',index=False)

In [18]:
# Get all values of a specific table
sql = """
select * from information_schema.columns where table_name = 'im_bedrooms_by_state'
"""
df = pd.read_sql(sql, con=engine)
df

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,nrich,public,im_bedrooms_by_state,No_bedroom,1,None,YES,bigint,None,None,...,NO,None,None,None,None,None,None,NEVER,None,YES
1,nrich,public,im_bedrooms_by_state,1_bedroom,2,None,YES,bigint,None,None,...,NO,None,None,None,None,None,None,NEVER,None,YES
2,nrich,public,im_bedrooms_by_state,2_bedrooms,3,None,YES,bigint,None,None,...,NO,None,None,None,None,None,None,NEVER,None,YES
3,nrich,public,im_bedrooms_by_state,3_bedrooms,4,None,YES,bigint,None,None,...,NO,None,None,None,None,None,None,NEVER,None,YES
4,nrich,public,im_bedrooms_by_state,4_bedrooms,5,None,YES,bigint,None,None,...,NO,None,None,None,None,None,None,NEVER,None,YES
5,nrich,public,im_bedrooms_by_state,5_or_more_bedrooms,6,None,YES,bigint,None,None,...,NO,None,None,None,None,None,None,NEVER,None,YES
6,nrich,public,im_bedrooms_by_state,Total,7,None,YES,bigint,None,None,...,NO,None,None,None,None,None,None,NEVER,None,YES

In [24]:
# Get all values of a specific table
sql = """
select * from im_bedrooms_by_state 

"""
df = pd.read_sql(sql, con=engine)
df

,No_bedroom,1_bedroom,2_bedrooms,3_bedrooms,4_bedrooms,5_or_more_bedrooms,Total
0,26431,134181,525987,1098387,340998,73345,2199329
1,19164,43742,82282,106743,45301,11029,308261
2,72487,331246,789109,1078244,499591,119987,2890664
3,23141,96586,364170,666180,158484,26455,1335016
4,508802,1938660,3870870,4626151,2307505,593802,13845790
5,47608,260038,580462,764503,436333,172119,2261063
6,31732,183370,405883,547408,255820,67573,1491786
7,4288,29920,86241,185391,91155,17421,414416
8,25310,94598,83458,63230,25068,11648,303312
9,171515,954017,3067962,3494184,1182814,224507,9094999
10,55172,301838,954114,1809184,750983,261774,4133065
11,26408,72307,138975,186213,72536,30949,527388
12,11903,48972,163177,277790,123724,54736,680302
13,139397,614135,1532081,1946263,853239,218560,5303675
14,40305,262084,747355,1235822,435608,99079,2820253
15,19104,126883,382955,523674,235696,65952,1354264
16,25393,119160,328150,467121,232029,72519,1244372
17,27340,164160,530368,874324,280033,68270,1944495
18,29631,177564,499502,966885,282974,43299,1999855
19,20267,87292,221963,274177,95585,26943,726227
20,33685,248203,536614,904135,513107,174512,2410256
21,74982,393983,796971,983065,453401,125418,2827820
22,64167,413312,1186736,1994289,723617,157717,4539838
23,45014,275303,626982,805495,477425,143665,2373884
24,17864,76252,286392,691252,186805,31139,1289704
25,42772,259929,754185,1147930,417347,107699,2729862
26,14215,50929,135038,177708,79298,31657,488845
27,13377,90873,213645,301441,144599,45876,809811
28,35689,129153,313999,455518,204536,53188,1192083
29,11915,66365,189069,237290,93092,21219,618950
30,96337,505517,933404,1166459,679757,196468,3577942
31,25769,83118,231606,423201,125361,20510,909565
32,367484,1598437,2186723,2579995,1086047,353039,8171725
33,62049,292319,1160720,2090591,649890,161641,4417210
34,6167,34209,100779,111931,63574,24402,341062
35,72580,486450,1358494,2177926,879585,165867,5140902
36,28914,149279,422542,828665,225913,34114,1689427
37,44793,170325,474835,713102,234394,57734,1695183
38,108266,582759,1291382,2411035,955611,236558,5585611
39,10969,65005,137834,178726,55595,14771,462900
40,30049,121379,553436,1065521,329977,73957,2174319
41,5918,35522,103439,128290,71848,27311,372328
42,35711,219973,755932,1328647,414879,99400,2854542
43,202485,1304339,2384175,4278302,1790752,345554,10305607
44,14519,72377,203917,305831,220005,194450,1011099
45,9797,36413,87092,126980,49639,15253,325174
46,51112,285253,813079,1361884,694129,217834,3423291
47,83050,347100,768566,1111399,494941,137071,2942127
48,16110,63844,251733,410508,115326,26463,883984
49,48131,260154,760323,1087772,392125,93122,2641627
50,4791,24129,67701,104278,47155,18576,266630
51,31599,97697,334036,868008,205990,33307,1570637